<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Pokedex</a>
    <div class="navbar" >
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="text" placeholder="Ingresar Usuario" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar</button>
        </form>
        <a href="HTTP://localhost/pokedex/usuario/registrarUsuario" class="btn btn-outline-success my-2 my-sm-0" type="submit">Registrarse</a>
    </div>
</nav>
